.block {
    width: 200px;
    height: 500px;

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block2 {
    width: 200px;
    height: 50px;

    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.inf {
    width: 193px;
    height: 20px;
    margin-top: 10px;

}

.rm-block {}

p {
    text-align: center;
    font-weight: bold;
}

a {
    color: black;
}

.btn {
    width: 70px;
    height: 25px;
    cursor: pointer;
}

.btn2 {
    width: 100px;
    height: 25px;
    cursor: pointer;
}

span {
    font-size: 13px;
}

#checkb {
    margin: 0;
}

.mt-20 {
    margin-top: 20px;
}

.block-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
}

.acc {
    font-size: 15px;
    font-weight: 300;

}